{% assign boxLayout = ' box-banner' %}
{% assign fullwidthLayout = ' fullwidth-banner' %}

{% capture banner_layout %}{% if section.settings.banner_layout == 'box_banner' %}{{ boxLayout }}{% else %}{{ fullwidthLayout }}{% endif %}{% endcapture %}

<section class="image-banner{{ banner_layout }}">
  {% if section.settings.banner_layout == 'box_banner' %}
    <div class="container">
  {% endif %}
  <div
    class="ib-slider-holder"
    data-autoplay="{{ section.settings.slider_autoplay }}"
    data-autoplay-speed="{{ section.settings.slider_autoplay_speed }}"
    data-slider-infinite="{{ section.settings.slider_loop }}"
    data-slider-speed="{{ section.settings.slider_speed }}"
    data-slider-control="{{ section.settings.show_slider_controls }}"
  >
    {% for block in section.blocks %}
      <div class="ib-slider {{ block.settings.banner_txt_alignment }}">
        <figure class="ib-slider-img">
          <picture>
            <!-- [if IE 9]><video style="display: none;"> -->
            <!-- [endif]-- -->
            <source
              srcset="{{ block.settings.mobile_banner | image_url }}"
              media="(max-width: 767px)"
            >
            <source srcset="{{ block.settings.desktop_banner | image_url }}">
            <!--[if IE 9]> </video> <![endif]-->
            <img
              src="{{ block.settings.desktop_banner | img_url: '1280x550', crop:'center' }}"
              width="1280px"
              height="550px"
              alt="{{ block.settings.desktop_banner.image.id }}"
            >
          </picture>
        </figure>
        <div
          class="banner-overlay"
          style="background: {{ section.settings.overlay_bg }}; opacity: {{ section.settings.overlay_opacity }}%"
        ></div>
        {% if block.settings.banner_subtitle
          or block.settings.banner_maintitle
          or block.settings.banner_desc
          or block.settings.first_btn_url
          or block.settings.second_btn_url
        %}
          <div class="ib-slider-content">
            {% if section.settings.banner_layout == 'fullwidth_banner' %}
              <div class="container">
            {% endif %}
            <div class="ib-slider-content-inner">
              {% if block.settings.banner_subtitle %}
                <div class="ib-slider-subtitle" style="color: {{ block.settings.slider_txt_color }}">
                  {{ block.settings.banner_subtitle }}
                </div>
              {% endif %}
              {% if block.settings.banner_maintitle %}
                <h2 class="ib-slider-title" style="color: {{ block.settings.slider_txt_color }}">
                  {{ block.settings.banner_maintitle }}
                </h2>
              {% endif %}
              {% if block.settings.banner_desc %}
                <div class="ib-slider-desc" style="color: {{ block.settings.slider_txt_color }}">
                  {{ block.settings.banner_desc }}
                </div>
              {% endif %}
              {% if block.settings.first_btn_url or block.settings.second_btn_url %}
                <div class="btn-holder">
                  {% if block.settings.first_btn_url %}
                    <a
                      href="{{ block.settings.first_btn_url }}"
                      class="btn btn-primary"
                      style="--first-btn-bg-color: {{ block.settings.first_btn_bg }}; --first-btn-txt-color: {{ block.settings.first_btn_color }}"
                    >
                      {{- block.settings.first_btn_txt -}}
                    </a>
                  {% endif %}
                  {% if block.settings.second_btn_url %}
                    <a
                      href="{{ block.settings.second_btn_url }}"
                      class="btn btn-link"
                      style="--second-btn-txt-color: {{ block.settings.second_btn_color }}"
                    >
                      {{- block.settings.second_btn_txt }}
                      <span>{% include 'icon-arrow-right' -%}</span>
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            {% if section.settings.banner_layout == 'fullwidth_banner' %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if section.settings.banner_layout == 'box_banner' %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "t:image_slider.main_settings.image_slider_title",
  "settings": [
    {
      "type": "radio",
      "id": "banner_layout",
      "label": "t:image_slider.main_settings.banner_layout",
      "options": [
        {
          "value": "box_banner",
          "label": "Box banner"
        },
        {
          "value": "fullwidth_banner",
          "label": "Fullwidth banner"
        }
      ],
      "default": "box_banner"
    },
    {
      "type": "color",
      "id": "overlay_bg",
      "label": "t:image_slider.main_settings.overlay_bg",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 5,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:image_slider.main_settings.overlay_opacity",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "t:image_slider.main_settings.slider_autoplay",
      "default": true
    },
    {
      "type": "number",
      "id": "slider_autoplay_speed",
      "label": "t:image_slider.main_settings.slider_autoplay_speed",
      "default": 3000
    },
    {
      "type": "checkbox",
      "id": "slider_loop",
      "label": "t:image_slider.main_settings.slider_loop",
      "default": true
    },
    {
      "type": "number",
      "id": "slider_speed",
      "label": "t:image_slider.main_settings.slider_speed",
      "default": 1200
    },
    {
      "type": "select",
      "id": "show_slider_controls",
      "label": "t:image_slider.main_settings.slider_controls",
      "options": [
        {
          "value": "enable_arrows",
          "label": "Show arrows"
        },
        {
          "value": "enable_dots",
          "label": "Show dots"
        },
        {
          "value": "enable_both",
          "label": "Show both"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:image_slider.block_settings.block_title",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_banner",
          "label": "t:image_slider.block_settings.desktop_banner"
        },
        {
          "type": "image_picker",
          "id": "mobile_banner",
          "label": "t:image_slider.block_settings.mobile_banner"
        },
        {
          "type": "select",
          "id": "banner_txt_alignment",
          "label": "t:image_slider.block_settings.slider_txt_alignment",
          "options": [
            {
              "value": "left_align",
              "label": "Left"
            },
            {
              "value": "center_align",
              "label": "Center"
            },
            {
              "value": "right_align",
              "label": "Right"
            }
          ],
          "default": "left_align"
        },
        {
          "type": "text",
          "id": "banner_subtitle",
          "label": "t:image_slider.block_settings.slider_subtitle_label",
          "default": "t:image_slider.block_settings.slider_subtitle_default_txt"
        },
        {
          "type": "text",
          "id": "banner_maintitle",
          "label": "t:image_slider.block_settings.slider_main_title_label",
          "default": "t:image_slider.block_settings.slider_main_title_default_txt"
        },
        {
          "type": "textarea",
          "id": "banner_desc",
          "label": "t:image_slider.block_settings.slider_desc_label",
          "default": "t:image_slider.block_settings.slider_desc_default_txt"
        },
        {
          "type": "color",
          "id": "slider_txt_color",
          "label": "t:image_slider.block_settings.slider_txt_color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "first_btn_txt",
          "label": "t:image_slider.block_settings.slider_first_btn_label",
          "default": "t:image_slider.block_settings.slider_first_btn_default_txt"
        },
        {
          "type": "url",
          "id": "first_btn_url",
          "label": "t:image_slider.block_settings.slider_first_btn_url"
        },
        {
          "type": "color",
          "id": "first_btn_bg",
          "label": "t:image_slider.block_settings.slider_first_btn_bg",
          "default": "#303c43"
        },
        {
          "type": "color",
          "id": "first_btn_color",
          "label": "t:image_slider.block_settings.slider_first_btn_txt_color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "second_btn_txt",
          "label": "t:image_slider.block_settings.slider_second_btn_label",
          "default": "t:image_slider.block_settings.slider_second_btn_default_txt"
        },
        {
          "type": "url",
          "id": "second_btn_url",
          "label": "t:image_slider.block_settings.slider_second_btn_url"
        },
        {
          "type": "color",
          "id": "second_btn_color",
          "label": "t:image_slider.block_settings.slider_second_btn_txt_color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:image_slider.main_settings.image_slider_title",
      "category": "t:image_slider.block_settings.block_title",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
